html {
  height: 100%;
}
body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  min-height:100%; padding:0; margin:0; position:relative;
}

main {
  min-height: 60vh;
}

.resultsContainer {
  color: rgb(25, 199, 25);
  font-size: 64px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif,
    "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  letter-spacing: 10px;
  /* text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2); */
}

.instructions{
  text-align: left;
}

.resultWrong div:last-child {
  color: rgb(255, 0, 0);
}

.react-countdown-clock {
  margin: auto;
}

nav{

font-family: 'Courier New', Courier, monospace

}

.instructions{

font-family: 'Courier New', Courier, monospace;

}

ul{
  float: 'left';
  text-align: left;
}


footer{

  font-family: 'Courier New', Courier, monospace
  }

.hidden-div {
  z-index: -1;
  bottom: 10px;
}


.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}
  /*********************firework***********************/

  
  
  .pyro > .before, .pyro > .after {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: 162px 76.3333333333px #e100ff, 40px -41.6666666667px #ff004d, 21px -343.6666666667px #ff00c8, 248px -50.6666666667px #00ff40, 195px 42.3333333333px #ff004d, 250px -28.6666666667px #2fff00, 160px 41.3333333333px #ff8800, -86px 0.3333333333px #ffc800, 127px -264.6666666667px #00ff26, -104px -5.6666666667px #2fff00, -31px 83.3333333333px #ff00a2, 150px -107.6666666667px #c400ff, 173px -31.6666666667px #00ff48, -54px 28.3333333333px #00ff99, -10px -89.6666666667px #ccff00, -82px 37.3333333333px #ff0062, 211px 45.3333333333px #00b7ff, 210px -124.6666666667px #ff2b00, -91px -409.6666666667px #ff9100, -29px -24.6666666667px #a600ff, 132px -202.6666666667px #00b7ff, 14px -333.6666666667px #ff2f00, -65px -242.6666666667px #eeff00, -170px 39.3333333333px #73ff00, -194px -378.6666666667px #00ddff, 108px -149.6666666667px #ff0077, -57px 76.3333333333px #ff2f00, 90px -85.6666666667px #00ff59, -27px -277.6666666667px #ff0009, -170px -231.6666666667px #c800ff, -179px -407.6666666667px #00ffa6, 21px -323.6666666667px #00c4ff, 48px -410.6666666667px #00ff6a, 123px -306.6666666667px #00ff44, -18px -221.6666666667px #8c00ff, 135px -101.6666666667px #3c00ff, -137px -272.6666666667px #ff8400, -20px -357.6666666667px #99ff00, -39px -115.6666666667px yellow, 131px -215.6666666667px #0062ff, 114px -340.6666666667px #7700ff, -249px 29.3333333333px #ff002f, 116px -48.6666666667px #6fff00, -27px -106.6666666667px #00ffe1, -244px -71.6666666667px #6f00ff, -15px -227.6666666667px #00ff62, -47px -244.6666666667px #ff0011, 48px -133.6666666667px red, 188px -87.6666666667px #6f00ff, 211px 57.3333333333px #ff2f00, -35px -95.6666666667px #00ff99;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 162px 76.3333333333px #e100ff, 40px -41.6666666667px #ff004d, 21px -343.6666666667px #ff00c8, 248px -50.6666666667px #00ff40, 195px 42.3333333333px #ff004d, 250px -28.6666666667px #2fff00, 160px 41.3333333333px #ff8800, -86px 0.3333333333px #ffc800, 127px -264.6666666667px #00ff26, -104px -5.6666666667px #2fff00, -31px 83.3333333333px #ff00a2, 150px -107.6666666667px #c400ff, 173px -31.6666666667px #00ff48, -54px 28.3333333333px #00ff99, -10px -89.6666666667px #ccff00, -82px 37.3333333333px #ff0062, 211px 45.3333333333px #00b7ff, 210px -124.6666666667px #ff2b00, -91px -409.6666666667px #ff9100, -29px -24.6666666667px #a600ff, 132px -202.6666666667px #00b7ff, 14px -333.6666666667px #ff2f00, -65px -242.6666666667px #eeff00, -170px 39.3333333333px #73ff00, -194px -378.6666666667px #00ddff, 108px -149.6666666667px #ff0077, -57px 76.3333333333px #ff2f00, 90px -85.6666666667px #00ff59, -27px -277.6666666667px #ff0009, -170px -231.6666666667px #c800ff, -179px -407.6666666667px #00ffa6, 21px -323.6666666667px #00c4ff, 48px -410.6666666667px #00ff6a, 123px -306.6666666667px #00ff44, -18px -221.6666666667px #8c00ff, 135px -101.6666666667px #3c00ff, -137px -272.6666666667px #ff8400, -20px -357.6666666667px #99ff00, -39px -115.6666666667px yellow, 131px -215.6666666667px #0062ff, 114px -340.6666666667px #7700ff, -249px 29.3333333333px #ff002f, 116px -48.6666666667px #6fff00, -27px -106.6666666667px #00ffe1, -244px -71.6666666667px #6f00ff, -15px -227.6666666667px #00ff62, -47px -244.6666666667px #ff0011, 48px -133.6666666667px red, 188px -87.6666666667px #6f00ff, 211px 57.3333333333px #ff2f00, -35px -95.6666666667px #00ff99;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 162px 76.3333333333px #e100ff, 40px -41.6666666667px #ff004d, 21px -343.6666666667px #ff00c8, 248px -50.6666666667px #00ff40, 195px 42.3333333333px #ff004d, 250px -28.6666666667px #2fff00, 160px 41.3333333333px #ff8800, -86px 0.3333333333px #ffc800, 127px -264.6666666667px #00ff26, -104px -5.6666666667px #2fff00, -31px 83.3333333333px #ff00a2, 150px -107.6666666667px #c400ff, 173px -31.6666666667px #00ff48, -54px 28.3333333333px #00ff99, -10px -89.6666666667px #ccff00, -82px 37.3333333333px #ff0062, 211px 45.3333333333px #00b7ff, 210px -124.6666666667px #ff2b00, -91px -409.6666666667px #ff9100, -29px -24.6666666667px #a600ff, 132px -202.6666666667px #00b7ff, 14px -333.6666666667px #ff2f00, -65px -242.6666666667px #eeff00, -170px 39.3333333333px #73ff00, -194px -378.6666666667px #00ddff, 108px -149.6666666667px #ff0077, -57px 76.3333333333px #ff2f00, 90px -85.6666666667px #00ff59, -27px -277.6666666667px #ff0009, -170px -231.6666666667px #c800ff, -179px -407.6666666667px #00ffa6, 21px -323.6666666667px #00c4ff, 48px -410.6666666667px #00ff6a, 123px -306.6666666667px #00ff44, -18px -221.6666666667px #8c00ff, 135px -101.6666666667px #3c00ff, -137px -272.6666666667px #ff8400, -20px -357.6666666667px #99ff00, -39px -115.6666666667px yellow, 131px -215.6666666667px #0062ff, 114px -340.6666666667px #7700ff, -249px 29.3333333333px #ff002f, 116px -48.6666666667px #6fff00, -27px -106.6666666667px #00ffe1, -244px -71.6666666667px #6f00ff, -15px -227.6666666667px #00ff62, -47px -244.6666666667px #ff0011, 48px -133.6666666667px red, 188px -87.6666666667px #6f00ff, 211px 57.3333333333px #ff2f00, -35px -95.6666666667px #00ff99;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 162px 76.3333333333px #e100ff, 40px -41.6666666667px #ff004d, 21px -343.6666666667px #ff00c8, 248px -50.6666666667px #00ff40, 195px 42.3333333333px #ff004d, 250px -28.6666666667px #2fff00, 160px 41.3333333333px #ff8800, -86px 0.3333333333px #ffc800, 127px -264.6666666667px #00ff26, -104px -5.6666666667px #2fff00, -31px 83.3333333333px #ff00a2, 150px -107.6666666667px #c400ff, 173px -31.6666666667px #00ff48, -54px 28.3333333333px #00ff99, -10px -89.6666666667px #ccff00, -82px 37.3333333333px #ff0062, 211px 45.3333333333px #00b7ff, 210px -124.6666666667px #ff2b00, -91px -409.6666666667px #ff9100, -29px -24.6666666667px #a600ff, 132px -202.6666666667px #00b7ff, 14px -333.6666666667px #ff2f00, -65px -242.6666666667px #eeff00, -170px 39.3333333333px #73ff00, -194px -378.6666666667px #00ddff, 108px -149.6666666667px #ff0077, -57px 76.3333333333px #ff2f00, 90px -85.6666666667px #00ff59, -27px -277.6666666667px #ff0009, -170px -231.6666666667px #c800ff, -179px -407.6666666667px #00ffa6, 21px -323.6666666667px #00c4ff, 48px -410.6666666667px #00ff6a, 123px -306.6666666667px #00ff44, -18px -221.6666666667px #8c00ff, 135px -101.6666666667px #3c00ff, -137px -272.6666666667px #ff8400, -20px -357.6666666667px #99ff00, -39px -115.6666666667px yellow, 131px -215.6666666667px #0062ff, 114px -340.6666666667px #7700ff, -249px 29.3333333333px #ff002f, 116px -48.6666666667px #6fff00, -27px -106.6666666667px #00ffe1, -244px -71.6666666667px #6f00ff, -15px -227.6666666667px #00ff62, -47px -244.6666666667px #ff0011, 48px -133.6666666667px red, 188px -87.6666666667px #6f00ff, 211px 57.3333333333px #ff2f00, -35px -95.6666666667px #00ff99;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 162px 76.3333333333px #e100ff, 40px -41.6666666667px #ff004d, 21px -343.6666666667px #ff00c8, 248px -50.6666666667px #00ff40, 195px 42.3333333333px #ff004d, 250px -28.6666666667px #2fff00, 160px 41.3333333333px #ff8800, -86px 0.3333333333px #ffc800, 127px -264.6666666667px #00ff26, -104px -5.6666666667px #2fff00, -31px 83.3333333333px #ff00a2, 150px -107.6666666667px #c400ff, 173px -31.6666666667px #00ff48, -54px 28.3333333333px #00ff99, -10px -89.6666666667px #ccff00, -82px 37.3333333333px #ff0062, 211px 45.3333333333px #00b7ff, 210px -124.6666666667px #ff2b00, -91px -409.6666666667px #ff9100, -29px -24.6666666667px #a600ff, 132px -202.6666666667px #00b7ff, 14px -333.6666666667px #ff2f00, -65px -242.6666666667px #eeff00, -170px 39.3333333333px #73ff00, -194px -378.6666666667px #00ddff, 108px -149.6666666667px #ff0077, -57px 76.3333333333px #ff2f00, 90px -85.6666666667px #00ff59, -27px -277.6666666667px #ff0009, -170px -231.6666666667px #c800ff, -179px -407.6666666667px #00ffa6, 21px -323.6666666667px #00c4ff, 48px -410.6666666667px #00ff6a, 123px -306.6666666667px #00ff44, -18px -221.6666666667px #8c00ff, 135px -101.6666666667px #3c00ff, -137px -272.6666666667px #ff8400, -20px -357.6666666667px #99ff00, -39px -115.6666666667px yellow, 131px -215.6666666667px #0062ff, 114px -340.6666666667px #7700ff, -249px 29.3333333333px #ff002f, 116px -48.6666666667px #6fff00, -27px -106.6666666667px #00ffe1, -244px -71.6666666667px #6f00ff, -15px -227.6666666667px #00ff62, -47px -244.6666666667px #ff0011, 48px -133.6666666667px red, 188px -87.6666666667px #6f00ff, 211px 57.3333333333px #ff2f00, -35px -95.6666666667px #00ff99;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  


  /********************looser**************/
  .box {
    font-family:'gugi'; 
    width:auto;
    height:100px;
  /*  background-color:#6a2e79; */
    margin:0 auto;
    float:left;
    font-size:100px;
    padding:20px;
    color:black;
  }
  
  /* Step 1: Build the Animation */
  @-webkit-keyframes aniload {
    from {-webkit-transform:translate(0px, 1000px)}
    to   {-webkit-transform:translate(0px, 0px)}
  }
  
  @-moz-keyframes aniload {
    from {-moz-transform:translate(0px, 1000px)}
    to   {-moz-transform:translate(0px, 0px)}
  }
  
  @-ms-keyframes aniload {
    from {-ms-transform:translate(0px, 1000px)}
    to   {-ms-transform:translate(0px, 0px)}
  }
  
  @-o-keyframes aniload {
    from {-o-transform:translate(0px, 1000px)}
    to   {-o-transform:translate(0px, 0px)}
  }
  
  @keyframes aniload {
    from {transform:translate(0px, 1000px)}
    to   {transform:translate(0px, 0px)}
  }
  
  /* Step 2: Call the Animation */
  #box1 {
    -webkit-animation:aniload 4s;
    -moz-animation:aniload 4s;
    -ms-animation:aniload 4s;
    -o-animation:aniload 4s;
    animation:aniload 4s;
  }
  
  #box2 {
    -webkit-animation:aniload 1s;
    -moz-animation:aniload 1s;
    -ms-animation:aniload 1s;
    -o-animation:aniload 1s;
    animation:aniload 1s;
  }
  
  #box3 { 
    -webkit-animation:aniload 4s;
    -moz-animation:aniload 4s;
    -ms-animation:aniload 4s;
    -o-animation:aniload 4s;
    animation:aniload 4s;
  }
  
  #box4 {
    -webkit-animation:aniload 3s;
    -moz-animation:aniload 3s;
    -ms-animation:aniload 3s;
    -o-animation:aniload 3s;
    animation:aniload 3s;
  }
  
  #box5 {
    -webkit-animation:aniload 2s;
    -moz-animation:aniload 2s;
    -ms-animation:aniload 2s;
    -o-animation:aniload 2s;
    animation:aniload 2s;
  }
  
  #box6 {
    -webkit-animation:aniload 1s;
    -moz-animation:aniload 1s;
    -ms-animation:aniload 1s;
    -o-animation:aniload 1s;
    animation:aniload 1s;
  }
  
  
  
  
  
  
