html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

main {
  min-height: 60vh;
}

.resultsContainer {
  color: rgb(25, 199, 25);
  font-size: 64px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif,
    "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  letter-spacing: 10px;
  /* text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2); */
}

.resultWrong div:last-child {
  color: rgb(255, 0, 0);
}

.react-countdown-clock {
  margin: auto;
}

